<link rel="stylesheet" href="{{ url_for('static', filename='Loading.css') }}">
<title>AnalyzeMFT - Online</title>
<!-- Loading Spinner Wrapper-->
<div class="loader text-center">
    <div class="loader-inner">

        <!-- Animated Spinner -->
        <div class="lds-roller mb-3">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        
        <!-- Spinner Description Text [For Demo Purpose]-->
        <h1 class="text-uppercase font-weight-bold">Waiting for analysis completion</h1>
        <p class="font-italic text-muted"><strong class="countdown text-red font-weight-bold">Analysis can take considerable time.</strong></p>
    </div>
</div>